{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.pageHeader.image|length %}{% set mainImage = entry.pageHeader.image.one() %}{% endif %}

{% set ourTeamCategory = craft.categories.slug('our-team').one() %}
{% set ourTeam = craft.entries({
  section: 'people',
  relatedTo: ourTeamCategory,
  with: [
    'personImage',
  ]
}) %}

{% set ourBoardCategory = craft.categories.slug('our-board').one() %}
{% set ourBoard = craft.entries({
  section: 'people',
  relatedTo: ourBoardCategory
}) %}

{% set ourSupportersCategory = craft.categories.slug('our-supporters').one() %}
{% set ourSupporters = craft.entries({
  section: 'people',
  relatedTo: ourSupportersCategory
}) %}

{% block content %}
  <div id="our-mission"></div>
  {% include 'partials/_page-header' with { pageHeader: entry.pageHeader, gradientColor: '#ff6e5c' } %}
  <div class="single-entry our-approach" id="our-approach">

    <h4 class="subhead">Our Approach</h4>
    <h1>{{ entry.ourApproach.tagline }}</h1>
    {{ entry.ourApproach.statement }}
    <p><a href="/work/" class="button">Our Work</a></p>

    <div id="our-values">
      <h4 class="subhead">We Value</h4>
      <ul class="values">
      {% for value in entry.weValue.all() %}
        <li>{{ value.valueText|nl2br }}</li>
      {% endfor %}
      </ul>
      {# <a href="/about/values/" class="arrow">Learn more about our values <svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg></a> #}
    </div>

  </div>
  <div class="single-entry people" id="our-team">

    {{ entry.peopleStatement }}

    <div class="people-group" id="our-team-modals">
      <h4 class="subhead">Our Team</h4>
      <ul class="grid article-grid">
        {% for person in ourTeam.all() %}
          <li class="one-third" data-slug="{{ person.slug }}">
            <article>
              {% set personImage = person.personImage[0] ?? null %}
              {% if personImage %}
                {% set treatedImage = craft.imager.transformImage(personImage, {
                  width: 600,
                  height: 600,
                  effects: { modulate: [100, 0, 100], clut: 'gradient:#222222-#ffffff' }
                }) %}
                <div class="image-wrap">
                  <div class="image modal-popup" style="background-image: url({{ treatedImage ? treatedImage.getUrl() : '' }});" data-id="{{ person.id }}"></div>
                </div>
              {% endif %}
              <h3>{{ person.personName }}</h3>
              <h4>{{ person.personTitle }}</h4>
              {% if person.email %}
                <p class="email"><a rel="noopener" target="_blank" class="arrow" href="mailto:{{ person.email }}">Email <svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg></a></p>
              {% endif %}
              {% if person.personUrl %}
                <p class="person-url"><a class="arrow" rel="noopener" target="_blank" href="{{ person.personUrl }}">Website <svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg></a></p>
              {% endif %}
              <div class="bio">{{ person.body }}</div>
            </article>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="people-group" id="our-board">
      <h4 class="subhead">Our Board</h4>
      <ul class="grid">
        {% for person in ourBoard.all() %}
          <li class="one-third">
            <article>
              {% set personImage = person.personImage[0] ?? null %}
              {% if personImage %}
                {% set treatedImage = craft.imager.transformImage(personImage, {
                  width: 600,
                  height: 600,
                  effects: { modulate: [100, 0, 100], clut: 'gradient:#222222-#ffffff' }
                }) %}
                <div class="image-wrap">
                  <div class="image modal-popup" style="background-image: url({{ treatedImage ? treatedImage.getUrl() : '' }});" data-id="{{ person.id }}"></div>
                </div>
              {% endif %}
              <h3>{{ person.personName }}</h3>
              <h4>{{ person.personTitle }}</h4>
            </article>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="people-group" id="our-supporters">
      <h4 class="subhead">Our Supporters</h4>
      <ul class="grid">
        {% for person in ourSupporters.all() %}
          {% if loop.index < 10 %}
            <li class="one-third">
              <article>
                {% if person.personUrl %}<a rel="noopener" target="_blank" href="{{ person.personUrl }}">{% endif %}
                <h3>{{ person.organizationName }}</h3>
                {% if person.personName %}
                  <h4>{{ person.personName }}</h4>
                {% endif %}
                {% if person.personUrl %}</a>{% endif %}
              </article>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% if ourSupporters.count() > 9 %}
        <a href="/about/supporters/" class="arrow">View all our supporters <svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg></a>
      {% endif %}

    </div>
  </div>

{% endblock %}

{% block footerimage %}
  {% set entryFooterImage = entry.footerImage|length ? entry.footerImage : entry.memberImage %}
  {% include 'partials/_footer-image' with { footerImage: entryFooterImage, gradientColor: '#ff6e5c' } %}
{% endblock %}
