<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="footer-tagline">
      {% set tagline = random(siteOptions.footerInfo.taglines) %}
      <h2>{{ tagline.tagline }}</h2>
    </div>

    <div class="footer-blocks">
      <div class="contact-info footer-block">
        {{ siteOptions.footerInfo.contact }}
        <a href="/" class="logo"><svg class="icon sprite-logo-staggered" aria-hidden="true"><use xlink:href="#sprite-logo-staggered"/></svg></a>
      </div>
      <div class="main-nav footer-block">
        <ul>
          {% for link in siteOptions.footerInfo.mainNav %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="secondary-nav footer-block">
        <ul>
          {% for link in siteOptions.footerInfo.secondaryNav %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="social-nav footer-block">
        <ul>
          {% for link in siteOptions.footerInfo.socialLinks %}
            <li>
              <a href="{{ link.url }}" rel="noopener noreferrer" target="_blank">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="copyright">
      <p>Copyright {{ siteName }} {{ 'now'|date('Y') }}</p>
    </div>

  </div><!-- /.container -->
</footer>
<script src="{{ rev('/scripts/manifest.js') }}"></script>
<script src="{{ rev('/scripts/vendor.js') }}"></script>
<script src="{{ rev('/scripts/main.js') }}"></script>
