<footer class="site-footer" role="contentinfo">

    <div class="donate footer-block">
      <h3>Donate</h3>
    </div>

    <div class="contacts footer-block">
      <h3>Contacts</h3>
    </div>

    <div class="social footer-block">
      <h3>Social</h3>
      <ul>
        {% for socialLink in siteOptions.footerInfo.socialLinks %}
          <li>
            <a href="{{ socialLink.url }}" rel="noopener noreferrer" target="_blank">{{ socialLink.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="copyright">&copy;{{ 'now'|date('Y') }} Clx</div>
    </div>
    <a href="#top" class="back-to-top smoothscroll"><svg class="icon-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-arrow"/></svg></a>
  </div>
</footer>

<script src="{{ rev('/scripts/main.js') }}"></script>
