{# Sticky header stopper, pushes up any last sticky header before footer #}
<div class="sticky-header">
  <div class="sticky-title"></div>
</div>
{% set footerOutro = entry.footerOutro.one() %}
{% if footerOutro.body or footerOutro.image|length %}
  <div class="footer-outro">
    {% include 'partials/blocks/_tapeTag' with { tagline: footerOutro.tapeTag } %}
    <div class="container">
      <div class="grid">
        {% if footerOutro.body %}
          <div class="text-wrap grid-item one-half user-content">
            {{ footerOutro.body }}
          </div>
        {% endif %}

        {% if footerOutro.image|length %}
          <div class="image-wrap grid-item one-half">
            {% include 'partials/_image' with {
              image: footerOutro.image,
              treated: false,
              imageOptions: {
                mode: 'crop',
                width: 1000,
                height: 1042,
              }
            } %}
          </div>
        {% endif %}
      </div><!-- /.grid -->

      {% if footerOutro.linkURL %}
        <div class="block-cta">
          {% set externalLink = ('http' in footerOutro.linkURL and siteUrl not in footerOutro.linkURL) ? 'rel="noopener" target="_blank" ' : '' %}
          <a {{ externalLink }}class="button -jumbo" href="{{ footerOutro.linkURL }} ">{{ footerOutro.linkLabel}}</a>
        </div>
      {% endif %}
    </div><!-- /.container -->
  </div><!-- /.footer-outro -->
{% endif %}
