{% if entry.homepageBlocks|length %}

  {% set containerWrapped = false %}

  {# Check if first block is a section change #}
  {% if entry.homepageBlocks[0].type == 'sectionChange' %}
    {% set sectionColor = entry.homepageBlocks[0].color %}
    {% set sectionTitle = entry.homepageBlocks[0].sectionTitle %}
  {% endif %}

  <div class="homepage-blocks">
    {% if sectionColor is not defined %}
      {% set sectionColor = 'tan' %}
      {% set sectionTitle = '' %}
    {% endif %}
    <div class="block-section color-{{ sectionColor }}">
    {% if sectionTitle %}
      <div class="sticky-header">
        <div class="sticky-title">{{ sectionTitle }}</div>
      </div>
    {% endif %}

    {% for block in entry.homepageBlocks.all() %}
      {% switch block.type %}

        {% case 'sectionChange' %}
          {% if not loop.first %}
            {% if containerWrapped %}</div><!-- /.container -->{% set containerWrapped = false %}{% endif %}
            {% if block.color != sectionColor %}
              </div><!-- /.block-color -->
              <div class="block-section color-{{ block.color }}">
              {% set sectionColor = block.color %}
            {% endif %}
            {% if block.sectionTitle and block.sectionTitle != '' %}
            <div class="sticky-header">
              <div class="sticky-title">
                <span>{{ block.sectionTitle }}</span>
              </div>
            </div>
            {% endif %}
          {% endif %}

        {% case "question" %}
          <div class="block-question -{{ block.imagePlacement ?? '' }}{{ block.image|length ? ' -has-image' : '' }}">
            <div class="container">
              <h5>{{ block.subhead }}</h5>
              <h2>{{ block.headline }}</h2>
            </div>

            {% include 'partials/_image' with {
              image: block.image,
              tapeTag: block.tapeTag,
              imageOptions: {
                mode: 'crop',
                width: 600,
                height: 681,
                effects: { modulate: [100, 0, 100], clut: 'gradient:#1A1A1A-#EBE5D0' },
              },
            } %}
          </div>

        {% case "answer" %}
          {% if not containerWrapped %}<div class="container">{% set containerWrapped = true %}{% endif %}
          <div class="block-answer -{{ block.imagePlacement ?? '' }}{{ block.image|length ? ' -has-image' : '' }}">
            <div class="text-wrap">
              <h5>{{ block.subhead }}</h5>
              {{ block.headline }}
              <div class="body user-content">
                {{ block.body }}
              </div>
            </div>
            <div class="image-wrap">
              {% include 'partials/_image' with {
                image: block.image,
                imageOptions: {
                  mode: 'crop',
                  width: 1000,
                  height: 1042,
                  effects: { modulate: [100, 0, 100], clut: 'gradient:#1A1A1A-#EBE5D0' },
                }
              } %}
            </div>
          </div>

        {% case "quote" %}
          {% if containerWrapped %}</div><!-- /.container -->{% set containerWrapped = false %}{% endif %}
          {% include 'partials/blocks/_quote' with {
            quote: block.quote,
            image: block.image,
            imagePlacement: block.imagePlacement,
            attribution: block.attribution
          } %}

        {% case "image" %}
          {% if containerWrapped %}</div><!-- /.container -->{% set containerWrapped = false %}{% endif %}
          <div class="block-image -{{ block.imagePlacement ?? 'center' }}">
            {% include 'partials/_image' with {
              image: block.image,
              imageOptions: {
                mode: 'crop',
                width: 1800,
                height: 1079,
                effects: (block.treated ? { modulate: [100, 0, 100], clut: 'gradient:#1A1A1A-#EBE5D0' } : {}),
              },
              caption: block.caption
            } %}
          </div>

        {% default %}

      {% endswitch %}
    {% endfor %}

    {% if containerWrapped %}</div><!-- /.container -->{% set containerWrapped = false %}{% endif %}
    </div><!-- /.block-section -->
  </div><!-- /.homepage-blocks -->

{% endif %}
