{% if entry.homepageHeader.image|length %}
  {% set headerImage = entry.homepageHeader.image.one() %}
  {% set treatedImage = craft.imager.transformImage(headerImage, {
    width: 1000,
    height: 1000,
    mode: 'crop',
  }) %}
{% endif %}

<div class="page-header">

  <div class="container">

    <div class="logos">
      <svg class="icon sprite-logo" data-clone-me><use xlink:href="#sprite-logo"/></svg>
    </div>

    <div class="page-header-info">
      {% if entry.homepageHeader.image|length and treatedImage %}
        <div class="image-wrap -tagline-container">
          {% include 'partials/blocks/_tapeTag' with { tagline: entry.homepageHeader.tapeTag } %}
          <figure>
            <img src="{{ treatedImage.getUrl() }}" alt="{{ entry.homepageHeader.image.title }}">
          </figure>
        </div>
      {% else %}
      {% endif %}
      <div class="text-wrap">
        {% if entry.homepageHeader.subhead %}
          <h5>{{ entry.homepageHeader.subhead }}</h5>
        {% endif %}
        {% if entry.homepageHeader.subhead %}
          <h2 class="serif">{{ entry.homepageHeader.headline }}</h2>
        {% endif %}
        <div class="body">
          <p>{{ entry.homepageHeader.body }}</p>
        </div>
      </div>
    </div>

  </div>

</div>
