{% if entry.homepageBlocks|length %}

  {% set containerWrapped = false %}

  <div class="homepage-blocks">

    {% for block in entry.homepageBlocks.all() %}
      {% switch block.type %}

        {% case "question" %}
          <div class="block-question -{{ block.imagePlacement ?? '' }}{{ block.image|length ? ' -has-image' : '' }}">
            <div class="container">
              <h5>{{ block.subhead }}</h5>
              <h2>{{ block.headline }}</h2>
            </div>

            {% include 'partials/_image' with {
              image: block.image,
              imageOptions: {
                mode: 'crop',
                width: 600,
                height: 681,
                effects: { modulate: [100, 0, 100], clut: 'gradient:#111-#eee' },
              },
            } %}
          </div>

        {% case "answer" %}
          {% if not containerWrapped %}<div class="container">{% set containerWrapped = true %}{% endif %}
          <div class="block-answer">
            <div class="text-wrap">
              <h5>{{ block.subhead }}</h5>
              <h2>{{ block.headline }}</h2>
              <div class="body user-content">
                {{ block.body }}
              </div>
            </div>
            <div class="image-wrap">
              {% include 'partials/_image' with {
                image: block.image,
                imageOptions: {
                  mode: 'crop',
                  width: 1000,
                  height: 1042,
                }
              } %}
            </div>
          </div>

        {% case "quote" %}
          {% if containerWrapped %}</div><!-- /.container -->{% set containerWrapped = false %}{% endif %}
          {% include 'partials/blocks/_quote' with {
            quote: block.quote,
            image: block.image,
            imagePlacement: block.imagePlacement,
            attribution: block.attribution
          } %}

        {% case "image" %}
          {% if containerWrapped %}</div><!-- /.container -->{% set containerWrapped = false %}{% endif %}
          <div class="block-image -{{ block.imagePlacement ?? 'center' }}">
            {% include 'partials/_image' with {
              image: block.image,
              imageOptions: {
                mode: 'crop',
                width: 1800,
                height: 1079,
                },
              caption: block.caption
            } %}
          </div>

        {% default %}

      {% endswitch %}
    {% endfor %}

  {% if containerWrapped %}</div><!-- /.container -->{% set containerWrapped = false %}{% endif %}
  </div><!-- /.homepage-blocks -->
{% endif %}
