{% if image|length %}
  {% set image = image.one() %}
  {% set embeddedAsset = craft.embeddedAssets.get(image) %}

    {% if embeddedAsset %}
      <div class="embedded-asset">
        {{ embeddedAsset.html }}
      </div>
    {% else %}

      {# Leave GIFs and PNGs alone #}
      {% if image.filename matches '/(gif|png|svg)$/' %}
        {% set treatedImage = image %}
      {% else %}
        {% set treatedImage = craft.imager.transformImage(image, imageOptions) %}
      {% endif %}

      {% if treatedImage %}
        <figure class="image">
          {% if tapeTag is defined and tapeTag != '' %}
            {% include 'partials/blocks/_tapeTag' with { tagline: tapeTag } %}
          {% endif %}
          <img src="{{ treatedImage.getUrl() }}" alt="{{ image.title }}">
          {% if caption is defined %}
            {% if caption %}
              <figcaption>{{ caption }}</figcaption>
            {% endif %}
          {% endif %}
        </figure>
      {% endif %}

    {% endif %}
{% endif %}
