{% if entry.pageHeader.image|length %}
  {% set headerImage = entry.pageHeader.image.one() %}
  {% set treatedImage = craft.imager.transformImage(headerImage, {
    width: 1800,
    height: 919,
    mode: 'crop',
  }) %}
{% endif %}

<div class="page-header">
  <div class="container">
    <h1>{% if entry.pageHeader.headline %}{{ entry.pageHeader.headline }}{% else %}{{ entry.title }}{% endif %}</h1>

    <svg class="icon sprite-logo"><use xlink:href="#sprite-logo"/></svg>

    {% if entry.pageHeader.tagline %}
      <div class="tagline">{{ entry.pageHeader.tagline }}</div>
    {% endif %}

    {% if entry.pageHeader.image|length and treatedImage %}
      <div class="image-wrap">
        <figure>
          <img src="{{ treatedImage.getUrl() }}" alt="{{ entry.pageHeader.image.title }}">
          {% if entry.pageHeader.imageCaption %}
            <figcaption>{{ entry.pageHeader.imageCaption }}</figcaption>
          {% endif %}
        </figure>
      </div>
    {% endif %}
  </div>
</div>
