{% if entry.pageBlocks|length %}

  {% set containerWrapped = false %}

  {# Check if first block is a section change #}
  {% if entry.pageBlocks[0].type == 'sectionChange' %}
    {% set sectionColor = entry.pageBlocks[0].color %}
    {% set sectionTitle = entry.pageBlocks[0].sectionTitle %}
  {% endif %}

  <div class="page-blocks">
    {% if sectionColor is not defined %}
      {% set sectionColor = 'tan' %}
      {% set sectionTitle = '' %}
    {% endif %}
    <div class="block-section color-{{ sectionColor }}">
    {% if sectionTitle %}
      <div class="sticky-header">
        <div class="sticky-title">{{ sectionTitle }}</div>
      </div>
    {% endif %}

    {% for block in entry.pageBlocks.all() %}
      {% switch block.type %}

        {% case 'sectionChange' %}
          {% if not loop.first %}
            {% if containerWrapped %}</div><!-- /.container -->{% set containerWrapped = false %}{% endif %}
            {% if block.color != sectionColor %}
              </div><!-- /.block-color -->
              <div class="block-section color-{{ block.color }}">
              {% set sectionColor = block.color %}
            {% endif %}
            {% if block.sectionTitle and block.sectionTitle != '' %}
            <div class="sticky-header">
              <div class="sticky-title">
                <span>{{ block.sectionTitle }}</span>
              </div>
            </div>
            {% endif %}
          {% endif %}

        {% case 'image' %}
          {% if containerWrapped %}</div><!-- /.container -->{% set containerWrapped = false %}{% endif %}
          <div class="block-image -{{ block.imagePlacement ?? 'center' }}">
            {% include 'partials/_image' with {
              image: block.image,
              imageOptions: {
                mode: 'crop',
                width: 1800,
                height: 1079,
                effects: (block.treated ? { modulate: [100, 0, 100], clut: 'gradient:#1A1A1A-#EBE5D0' } : {}),
              },
              caption: block.caption
            } %}
          </div>

        {% case 'text' %}
          {% if not containerWrapped %}<div class="container">{% set containerWrapped = true %}{% endif %}
          <div class="block-text -{{ block.width }}">
            {% if block.subhead %}
              <h5 class="subhead">{{ block.subhead }}</h5>
            {% endif %}
            <div class="body user-content">
              {{ block.body }}
            </div>
          </div>

        {% case 'cta' %}
          {% if block.linkURL %}
            <div class="block-cta">
              <a class="button -jumbo" href="{{ block.linkURL }} ">{{ block.linkLabel}}</a>
            </div>
          {% endif %}

        {% case 'textGrid' %}
          {% if not containerWrapped %}<div class="container">{% set containerWrapped = true %}{% endif %}
          <div class="block-text-grid">
            {% if block.intro %}
              <div class="intro">
                {{ block.intro }}
              </div>
            {% endif %}
            <ol class="text-blocks grid">
              {% for textBlock in block.textBlocks.all() %}
                <li class="text-block grid-item one-half">
                  <h5 class="count subhead">{{ '%02d'|format(loop.index) }}</h5>
                  <div class="body">
                    {{ textBlock.body }}
                  </div>
                </li>
              {% endfor %}
            </ol>
          </div>

        {% case 'quote' %}
          {% if containerWrapped %}</div><!-- /.container -->{% set containerWrapped = false %}{% endif %}
          {% include 'partials/blocks/_quote' with {
            quote: block.quote,
            image: block.image,
            imagePlacement: block.imagePlacement,
            attribution: block.attribution
          } %}

        {% case 'statement' %}
          {% if containerWrapped %}</div><!-- /.container -->{% set containerWrapped = false %}{% endif %}
          {% include 'partials/blocks/_statement' with {
            subhead: block.subhead,
            statement: block.statement,
            image: block.image,
            imagePlacement: block.imagePlacement
          } %}

        {% default %}

      {% endswitch %}
    {% endfor %}

    {% if containerWrapped %}</div><!-- /.container -->{% set containerWrapped = false %}{% endif %}
    </div><!-- /.block-color -->
  </div><!-- /.page-blocks -->

{% endif %}
