{% set stories = craft.entries({
  section: 'stories',
  with: [
    'storyInfo'
  ]
}) %}

{% if stories|length %}
  <div class="sticky-header">
    <div class="sticky-title">
      <span>Stories</span>
    </div>
  </div>
  <div class="carousel-wrap">
    <div class="container">
      <div class="carousel stories">
        <div class="carousel-header grid">
          <div class="grid-item one-half">
            <h2><em>Partnership</em><br>Stories</h2>
          </div>
          <div class="grid-item one-half">
            <div class="carousel-pagination">
              <span class="previous"><svg class="icon sprite-arrow"><use xlink:href="#sprite-arrow"/></svg></span>
              <div class="cell-count">
                01 / {{ '%02d'|format(stories|length) }}
              </div>
              <span class="next"><svg class="icon sprite-arrow"><use xlink:href="#sprite-arrow"/></svg></span>
            </div>
          </div>
        </div>

        <ul class="cells">
        {% for story in stories.all() %}
          <li class="cell">
            {% if story.storyInfo[0].tagline != '' %}
              <div class="tape-tagline">
                {{ story.storyInfo[0].tagline }}
              </div>
            {% endif %}
            <h3>{{ story.title }}</h3>
            {% if story.storyInfo[0].subhead %}
              <h5><span>{{ '%02d'|format(loop.index) }}</span> {{ story.storyInfo[0].subhead }}</h5>
            {% endif %}
            {{ story.storyInfo[0].body }}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}
