{% set postcards = craft.entries({
  section: 'postcards',
  with: [
    'postcardInfo'
  ]
}) %}

{% if postcards|length %}
<div class="sticky-header">
  <div class="sticky-title">
    <span>Postcards</span>
  </div>
</div>
<div class="carousel-wrap">
  <div class="container">
    <div class="carousel postcards">
      <div class="carousel-header grid">
        <div class="grid-item one-half">
          <h2><em>Postcards</em><br> from the Field</h2>
        </div>
        <div class="grid-item one-half">
          <div class="carousel-pagination">
            <span class="previous"><svg class="icon sprite-arrow"><use xlink:href="#sprite-arrow"/></svg></span>
            <div class="cell-count">
              01 / {{ '%02d'|format(postcards|length) }}
            </div>
            <span class="next"><svg class="icon sprite-arrow"><use xlink:href="#sprite-arrow"/></svg></span>
          </div>
        </div>
      </div>

      <ul class="cells">
      {% for card in postcards.all() %}
        {% if card.postcardInfo[0].image|length %}
          {% set cardImage = card.postcardInfo[0].image.one() %}
          {% set treatedImage = craft.imager.transformImage(cardImage, {
            width: 1000,
            height: 690,
            mode: 'crop',
          }) %}
        {% endif %}
        <li class="cell">
          {% if card.postcardInfo[0].tagline %}
            <div class="tape-tagline">
              {{ card.postcardInfo[0].tagline }}
            </div>
          {% endif %}
          {% if card.postcardInfo[0].image|length and treatedImage %}
            <figure>
              <img src="{{ treatedImage.getUrl() }}" alt="{{ card.postcardInfo[0].image.title }}">
            </figure>
          {% endif %}
          <div class="cell-headline">
            <h3>{{ card.title }}</h3>
          </div>
          <div class="cell-body">
            {{ card.postcardInfo[0].body }}
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
