{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% set colorTheme = 'green' %}
{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% block content %}

  {% include 'partials/_page-header' %}

  <div class="our-work-intro user-content">
    {% if entry.ourWorkIntro.subhead %}
      <h4>{{ entry.ourWorkIntro.subhead }}</h4>
    {% endif %}
    {% if entry.ourWorkIntro.headline %}
      {{ entry.ourWorkIntro.headline }}
    {% endif %}

    --four pillars graphic--
  </div>

  {% include 'partials/_page-blocks' %}

  {% if entry.partnershipStories|length %}
    <ul class="partnership-stories">
    {% for story in entry.partnershipStories.all() %}
      <li>
        {% if story.tagline %}
          <div class="tagline">{{ story.tagline }}</div>
        {% endif %}
        <h2>{{ story.headline }}</h2>
        {% if story.subhead %}
          <h4>{{ story.subhead }}</h4>
        {% endif %}
        {{ story.body }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% include 'partials/_footer-outro' %}

{% endblock %}
