{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% set colorTheme = entry.pageHeader.colorTheme %}
{% set title = entry.title %}
{% set sectionTitle = entry.pageHeader.sectionTitle %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% block content %}

  {% include 'partials/_page-header' %}

  {% include 'partials/_page-blocks' %}

  {% include 'partials/_partnership-stories' %}

	{% if entry.footerQuote.quote %}
	  {% include 'partials/blocks/_quote' with {
	    quote: entry.footerQuote.quote,
	    image: [],
	    attribution: entry.footerQuote.attribution
	  } %}
	{% endif %}

  {% include 'partials/_footer-outro' %}

{% endblock %}
