{# This is essentially the same as _postcards.html but is supporting an arbitrary page block version of Postcards #}
{% if postcards|length %}
  <div class="sticky-header">
    <div class="sticky-title">
      <span>{{ postcards.headline }}</span>
    </div>
  </div>
  <div class="carousel-wrap">
    <div class="container">
      <div class="carousel postcards">
        <div class="carousel-header grid">
          <div class="grid-item one-half">
            <h2>{{ postcards.headline }}</h2>
          </div>
          <div class="grid-item one-half">
            <div class="carousel-pagination">
              <span class="previous"><svg class="icon sprite-arrow"><use xlink:href="#sprite-arrow"/></svg></span>
              <div class="cell-count">
                01 / {{ '%02d'|format(postcards.postcardBlocks|length) }}
              </div>
              <span class="next"><svg class="icon sprite-arrow"><use xlink:href="#sprite-arrow"/></svg></span>
            </div>
          </div>
        </div>

        <ul class="cells">
        {% for card in postcards.postcardBlocks.all() %}
          {% if card.image|length %}
            {% set cardImage = card.image.one() %}
            {% set treatedImage = craft.imager.transformImage(cardImage, { width: 1000 }) %}
          {% endif %}
          <li class="cell{{ card.image|length == 0 ? ' -no-image' : '' }}">
            {% if card.tagline %}
              <div class="tape-tagline">
                {{ card.tagline }}
              </div>
            {% endif %}
            {% if card.image|length and treatedImage %}
              <figure>
                {% if card.blockLink|length and card.blockLink[0].url %}<a rel="noopener" target="_blank" href="{{ card.blockLink[0].url }}">{% endif %}
                  <img src="{{ treatedImage.getUrl() }}" alt="{{ card.image.title }}">
                {% if card.blockLink|length and card.blockLink[0].url %}</a>{% endif %}
              </figure>
            {% endif %}
            <div class="cell-headline">
              <h3>{{ card.blockTitle }}</h3>
            </div>
            <div class="cell-body user-content">
              {{ card.body }}
            </div>
            {% if card.blockLink|length and card.blockLink[0].url and card.blockLink[0].label %}
              <div class="cta">
                <a rel="noopener" target="_blank" href="{{ card.blockLink[0].url }}">{{ card.blockLink[0].label }}</a>
              </div>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}
