<div class="block-statement -{{ imagePlacement ?? '' }}{{ image|length ? ' -has-image' : '' }}">
	<div class="container">
		<div class="statement">
			{% if subhead %}
			  <h5 class="subhead">{{ subhead }}</h5 class="subhead">
			{% endif %}
		  <h2>{{ statement }}</h2>
		</div>
	</div>
	{% include 'partials/_image' with {
	  image: block.image,
	  imageOptions: {
		  mode: 'crop',
		  width: 528,
		  height: 768,
		  effects: { modulate: [100, 0, 100], clut: 'gradient:#111-#eee' },
	  },
	} %}
</div>
