{% if tagline is defined and tagline != '' %}
  <div class="tape-tagline {{ position is defined ? '-'~position : '' }}">
    <span>
      {% switch tagline %}
        {% case 'towardEquity' %}
          Toward Equity — Toward Equity — Toward Equity<span class="xl"> — Toward Equity — Toward Equity — Toward Equity — Toward Equity</span>
        {% case 'learnBuildLiberate' %}
          Learn — Build — Liberate — Learn — Build — Liberate<span class="xl"> — Learn — Build — Liberate — Learn — Build — Liberate</span>
        {% case 'adaptInspirePersistCreate' %}
          Adapt — Inspire — Persist — Create — Adapt — Inspire — Persist — Create<span class="xl"> — Adapt — Inspire — Persist — Create</span>
        {% case 'holdingSpaceElevatingVoices' %}
          Holding Space — Elevating Voices — Holding Space — Elevating Voices<span class="xl"> — Holding Space — Elevating Voices</span>
      {% endswitch %}
    </span>
  </div>
{% endif %}