// Base page block styles

// Images
.block-image {
  @include clearfix;
  position: relative;
  padding: grid(4) 0;
  figure {
    position: relative;
  }
  figcaption {
    @include h4;
    background: color(tan);
    color: color(black);
    padding: $global-padding $global-padding 0;
    margin: grid(-6) grid(3) 0;
    position: relative;
    text-align: left;
  }
  &.-has-next {
    &.-next-accent1 {
      figcaption {
        @include theme-color(background, 'accent1');
        @include theme-color(color, 'accent1-text');
      }
    }
    &.-next-accent2 {
      figcaption {
        @include theme-color(background, 'accent2');
        @include theme-color(color, 'accent2-text');
      }
    }
  }
  &.-center,
  &.-left {
    .tape-tagline {
      right: grid(-10);
      top: grid(-3);
      transform-origin: left;
      transform: rotate(15deg);
      > span {
        float: left;
      }
    }
  }
  &.-center {
    // For inline images not treated, such as SVG/gif/png
    text-align: center;
    .tape-tagline {
      top: grid(3);
      right: auto;
      left: 65%;
    }
    .color-massage {
      img {
        margin: 0 auto;
      }
    }
  }
  &.-right {
    .tape-tagline {
      top: grid(6);
      transform-origin: left;
      transform: rotate(15deg);
      right: calc(100% - 150px);
    }
  }


  // Desktop styles
  @include media-md {
    padding: grid(16) 0;
    figcaption {
      position: absolute;
      padding: $global-padding;
      margin: 0;
      transform: translateY(grid(-12));
      left: columns(1);
      top: 100%;
      width: columns(3);
    }
    figure {
      max-width: $container-width;
      @include media-xl {
        max-width: calc(50vw + #{columns(4)});
      }
      // start of clip path option as proof-of-concept, may bring back, requires captions push down instead of up as size grows
      // &.-has-caption {
      //   img {
      //     clip-path: polygon(columns(8) 100%, columns(8) 87%, 87% 86%, 88% 100%, 100% 100%, 99% 0%, 0% 0%, 0% 100%);
      //   }
      // }
    }

    // Center images
    &.-center {
      figure {
        margin: 0 auto;
      }
      .tape-tagline {
        top: 100px;
        left: auto;
        right: grid(-8);
        transform: rotate(15deg);
      }
    }
    // Right aligned images
    &.-right {
      figure {
        float: right;
      }
      .tape-tagline {
        top: 100px;
        right: auto;
        left: grid(-8);
      }
    }
    // Left aligned images
    &.-left {
      margin: 0;
      figure {
        float: left;
      }
      figcaption {
        right: auto;
        left: columns(3);
      }
      .tape-tagline {
        left: auto;
        right: grid(-8);
        top: 100px;
        transform: rotate(15deg);
      }
    }
  }
}

// Section change
.block-section {
  @include clearfix;
  position: relative;
  background: color(tan);

  // Tuck color under header
  &:first-of-type {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -100px;
      right: 0;
      left: 0;
      bottom: 100%;
      background: color(tan);
      z-index: -1;
    }
    &.color-accent1::after {
      @include theme-color(background, 'accent1');
    }
    &.color-accent2::after {
      @include theme-color(background, 'accent2');
    }

    @include media-md {
      &::after {
        top: -300px;
      }
    }
  }

  // Has a following section block, append color block for staggering
  &.-has-next {
    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 100px;
      width: 100%;
      left: 0;
      bottom: 0;
      background: color(tan);

      @include media-md {
        height: grid(48);
      }
    }

    &.-next-accent1::before {
      @include theme-color(background, 'accent1');
    }
    &.-next-accent2::before {
      @include theme-color(background, 'accent2');
    }

  }

  // Accent colors
  &.color-accent1,
  &.color-accent2 {
    @include theme-color(background, 'accent1');
    @include theme-color(color, 'accent1-text');
    // &::after {
    //   @include theme-color(background, 'accent1');
    //   z-index: -1;
    // }
    .block-image:not(.-has-next) {
      figcaption {
        @include theme-color(background, 'accent1');
      }
    }
  }
  &.color-accent1 {
    .tape-tagline {
      @include theme-color(background, 'tape-tagline-accent1');
      @include theme-color(color, 'tape-tagline-accent1-text');
    }
  }
  &.color-accent2 {
    @include theme-color(background, 'accent2');
    @include theme-color(color, 'accent2-text');
    // &::after {
    //   @include theme-color(background, 'accent2');
    // }
    .tape-tagline {
      @include theme-color(background, 'tape-tagline-accent2');
      @include theme-color(color, 'tape-tagline-accent2-text');
    }
    .block-image:not(.-has-next) {
      figcaption {
        @include theme-color(background, 'accent2');
      }
    }
  }
}

.page-blocks {
  .container {
    @include clearfix;
  }
  h5.subhead {
    margin: 0;
  }

  // Text grid
  .block-text-grid {
    padding: grid(4) 0;

    .text-blocks {
      li {
        margin-top: grid(10);
        list-style-type: none;
        h5.count {
          margin: 0;
        }
        h5+h3 {
          margin-top: grid(1);
        }
        p {
          @include p3;
        }
      }
    }

    // Desktop styles
    @include media-md {
      .text-blocks {
        li {
          padding-right: $global-padding;
          p {
            @include p2;
          }
        }
      }
    }
  }

  // Text blocks (half/full width)
  .block-text {
    padding: grid(4) 0;

    // Desktop styles
    @include media-md {
      padding: grid(16) 0;
      h2 {
        // @include h1;
        em {
          // @include h1-serif;
          // font-style: normal;
        }
      }
      &.-halfWidth {
        width: 50%;
        float: left;
        padding-right: $global-padding;
        p {
          @include p2;
        }
      }
      &.-fullWidth {
        .subhead {
          text-align: center;
        }
        p {
          @include p2; // ?
        }
      }
    }
  }
}

// Quotes
.block-quote {
  p {
    @include h3;
    text-align: center;
  }
  cite {
    @include h4;
    font-style: normal;
    display: block;
    text-align: center;
    margin: grid(4) 0;
    &::before {
      content: ' — ';
    }
  }
  figure {
    display: none;
  }

  // Desktop styles
  @include media-md {
    padding: grid(16) 0;
    p {
      @include h1;
    }
    blockquote {
      padding: 0 columns(1);
    }
  }
}

// Statements
.block-statement {
  .statement {
    text-align: center;
  }

  @include media-md {
    padding: grid(16) 0;
    .statement {
      padding: 0 columns(1);
    }
  }
}

// Statement/quote/question shared styles
.block-question,
.block-statement,
.block-quote {
  position: relative;
  // Hide offset images on mobile
  figure {
    display: none;
  }
  // Hide slash element
  .icon.sprite-slash {
    display: none;
  }
  .container {
    padding: grid(4) $mobile-global-padding;
  }

  // Desktop styles
  @include media-md {
    position: relative;
    .container {
      padding: 0;
    }
    &.-has-image {
      min-height: 384px;
    }
    figure {
      display: block;
      width: 264px;
      height: 384px;
      position: absolute;
      bottom: 0;
      mix-blend-mode: multiply;
      opacity: 0.9;
    }
    &.-left {
      figure {
        left: 0;
        transform: translateX(-50%);
      }
    }
    &.-right {
      figure {
        right: 0;
        transform: translateX(50%);
      }
    }
  }
}

// CTA buttons
.block-cta {
  text-align: center;
  padding: grid(8) 0;
  .user-content {
    margin: $mobile-global-padding auto 0;
  }
  @include media-md {
    padding: grid(16) 0;
    .user-content {
      max-width: 80%;
    }
  }
}
