// Base page block styles

// Images
.block-image {
  @include clearfix;
  position: relative;
  padding: grid(4) 0;
  figcaption {
    @include h4;
    background: color(tan);
    padding: grid(2) grid(3);
    margin: grid(-6) grid(3) grid(4);
    position: relative;
    text-align: left;
  }

  // Desktop styles
  @include media-md {
    padding: grid(16) 0;
    figcaption {
      position: absolute;
      right: columns(1);
      bottom: grid(-4);
      width: columns(3);
    }
    figure {
      position: relative;
      display: block;
      max-width: $container-width;
    }
    &.-center {
      // For inline images not treated, such as SVG/gif/png
      text-align: center;
      figure {
        margin: 0 auto;
      }
    }
    &.-right {
      figure {
        float: right;
      }
    }
    &.-left {
      figure {
        float: left;
      }
      figcaption {
        right: auto;
        left: columns(3);
      }
    }
  }
}

// Section change
.block-section {
  @include clearfix;
  @each $color, $value in $colors {
    &.color-#{$color} {
      background: $value;
      .block-image {
        figcaption {
          background: $value;
        }
      }
    }
  }
  // Darker color sections get tan text
  &.color-green,
  &.color-brown {
    color: color(tan);
  }
}

.page-blocks {
  .container {
    @include clearfix;
  }
  h5.subhead {
    margin: 0;
  }

  // Text grid
  .block-text-grid {
    padding: grid(4) 0;

    .text-blocks {
      li {
        margin-top: grid(10);
        list-style-type: none;
        h5.count {
          margin: 0;
        }
        h5+h3 {
          margin-top: grid(1);
        }
        p {
          @include p2;
        }
      }
    }

    // Desktop styles
    @include media-md {
      .text-blocks {
        li {
          padding-right: $global-padding;
        }
      }
    }
  }

  // Text blocks (half/full width)
  .block-text {
    padding: grid(4) 0;

    // Desktop styles
    @include media-md {
      padding: grid(16) 0;
      h2 {
        // @include h1;
        em {
          // @include h1-serif;
          // font-style: normal;
        }
      }
      &.-halfWidth {
        width: 50%;
        float: left;
        padding-right: $global-padding;
        p {
          @include p2;
        }
      }
      &.-fullWidth {
        padding: grid(16) columns(1);
        .subhead {
          text-align: center;
        }
        p {
          @include p2; // ?
        }
      }
    }
  }
}

// Quotes
.block-quote {
  p {
    @include h3;
    text-align: center;
  }
  cite {
    @include h4;
    font-style: normal;
    display: block;
    text-align: center;
    margin: grid(4) 0;
    &::before {
      content: ' — ';
    }
  }
  figure {
    display: none;
  }

  // Desktop styles
  @include media-md {
    padding: grid(16) 0;
    p {
      @include h1;
    }
  }
}

// Statements
.block-statement {
  .statement {
    text-align: center;
  }

  @include media-md {
    padding: grid(16) 0;
  }
}

// Statement/quote/question shared styles
.block-question,
.block-statement,
.block-quote {
  // Hide offset images on mobile
  figure {
    display: none;
  }
  .container {
    padding: grid(8) $mobile-global-padding;
  }

  // Desktop styles
  @include media-md {
    position: relative;
    .container {
      padding: 0;
    }
    &.-has-image {
      min-height: 384px;
      padding: 0;
      .container {
        position: relative;
        padding: grid(16) calc(#{columns(1)} - #{$global-padding});
      }
    }
    figure {
      display: block;
      width: 264px;
      height: 384px;
      position: absolute;
      bottom: 0;
      mix-blend-mode: multiply;
      opacity: 0.9;
    }
    &.-left {
      figure {
        left: 0;
        transform: translateX(-50%);
      }
    }
    &.-right {
      figure {
        right: 0;
        transform: translateX(50%);
      }
    }
  }
}

// CTA buttons
.block-cta {
  text-align: center;
  @include media-md {
    padding: grid(16) 0;
  }
}
