// Buttons

%button,
.button {
  display: inline-block;
  text-align: center;
  line-height: 1.4;
  padding: grid(2) grid(3);
  position: relative;
  border: none;
  background: color(orange);
  color: color(black);
  align-items: center;
  // min-height: 56px;
  // min-width: 140px;
  text-decoration: none;
  @include h4;
  line-height: 1;
  @include transition(transform);
  transform-origin: bottom left;

  &:hover {
    transform: rotate(-2deg);
    text-decoration: none;
  }
  &:active {
    box-shadow: 0 0 0 rgba(0,0,0,0.25);
    transform: translateY(1px);
  }
  // &.disabled {
  //   cursor: default;
  //   &:hover {
  //     color: inherit !important;
  //   }
  //   &:active {
  //     transform: none;
  //   }
  // }

  // Hollow buttons
  &.-hollow {
    background: none;
    border: 2px solid color(orange);
    color: color(orange);
  }
  // Jumbo buttons
  &.-jumbo {
    @include h4;
    padding: grid(3) grid(10);

    @include media-md {
      @include h3;
      padding: grid(5) grid(10);
      min-width: columns(4);
    }
  }

  svg {
    vertical-align: top;
    width: 24px;
    height: 24px;
  }
}
