// Carousels

.carousel-wrap {
  @include clearfix;
}

.carousel {
  // Make Flickity extend outside .container
  .flickity-viewport {
    overflow: visible;
  }

  .tape-tagline {
    // Hide tape tags on mobile carousels
    display: none;
  }

  // Gradient
  .cells.flickity-enabled {
      // Desktop styles
      @include media-md {
        .tape-tagline {
          display: block;
          width: auto !important;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 50%;
          bottom: 0;
          width: 15%;
          margin-right: -50vw;
          background-image: linear-gradient(90deg, rgba(color(tan), 0) 0%, rgba(color(tan), 1) 100%);
          pointer-events: none;
      }
    }
  }

  // Individual carousel cells
  .cell {
    width: 100%;
    margin-right: $global-padding;
    background: color(white);
    padding: $global-padding;

    @include media-md {
      width: 85%;
    }
  }

  // Partnership stories
  &.stories {
    h3 {
      @include media-md {
        @include h2;
        margin: 0;
        min-height: 160px;
      }
    }
    h5 {
      // 00/01 prefix
      span {
        display: inline-block;
        margin-right: grid(5);
      }
      margin: grid(2) 0 grid(3);

      @include media-md {
        margin: 0 0 grid(2);
      }
    }
    .tape-tagline {
      top: 90px;
      right: -20px;
      transform: rotate(-30deg);
      background: color(tan);
    }

    @include media-md {
      // Hover state for images
      .cell {
        @include transition(background);
        &:hover {
          background: color(pink);
        }
      }
    }
  }

  // Postcard carousels
  &.postcards {

    padding: grid(6) 0;
    .tape-tagline {
       top: 75px;
       right: -20px;
       transform: rotate(30deg);
       background: color(tan);
    }
    figure {
      display: block;
      background-color: color(black);
      margin-bottom: $global-padding;
      position: relative;
      img {
        @include transition(all);
        display: block;
        mix-blend-mode: screen;
        filter: grayscale(100%);
      }
      // Monochrome image treatment before hover
      &::before {
        pointer-events: none;
        @include transition(opacity);
        content: '';
        background-color: color(tan);
        mix-blend-mode: multiply;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }

    // CTA links
    div.cta {
      text-align: center;
      padding-top: grid(4);
      a {
        @include h3;
        color: color(red);
        @include inline-link('&', color(tan));
      }
    }

    // Support for story-like image-less postcard blocks on arbitrary pages (e.g. Our Resources)
    .cell.-no-image {
      .cell-headline {
        @include media-md {
          h3 {
            @include h2;
            margin-top: 0;
          }
        }
      }
      .cell-body {
        h3 + p {
          margin-top: grid(2);
        }
        @include max-screen($breakpoint-md) {
          h3 {
            @include h4;
          }
        }
      }
    }

    @include media-md {
      // Hover state for images
      .cell {
        &:hover {
          figure {
            img {
              filter: none;
              mix-blend-mode: none;
            }
            &::before {
              opacity: 0;
            }
          }
        }
      }
    }

    // Content inside cell
    .cell-body {
      padding: grid(2) 0 0;
      a {
        @include inline-link('&', color(tan));
      }
    }
    p {
      @include p3;
    }

    // Page block version of postcards
    // &.-postcards-block {
    //   // Support first line in serif font (disabled as this is fragile)
    //   .carousel-header h2 {
    //     &::first-line {
    //       @include h3-serif;
    //       @include media-md {
    //         @include h2-serif;
    //       }
    //       @include media-nav {
    //         @include h1-serif;
    //       }
    //     }
    //   }
    // }
  } // end .postcards

  // Desktop styles
  @include media-md {
    .carousel-header {
      .grid-item:nth-child(2) {
        position: relative;
      }
    }
    .cells {
      padding: grid(16) 0;
      .cell {
        width: columns(5);
        max-width: 450px;
        float: left;
      }
    }
    // Postcard blocks get less padding
    &.-postcards-block {
      .cells {
        padding: grid(12) 0;
      }
    }
    &.postcards {
      padding: grid(16) 0 grid(8);
    }
  }
}

// Pagination
.carousel-pagination {
  @include h3;
  span {
    color: color(gray);
    cursor: pointer;
    @include smooth;
    display: inline-block;
    padding: grid(1) grid(2);
    user-select: none;
    svg {
      width: 27px;
      height: 19px;
    }
    &:hover {
      color: color(black);
      svg {
        fill: color(black);
      }
    }
  }
  svg {
    fill: color(gray);
  }
  .cell-count {
    display: inline-block;
  }
  .previous {
    padding-left: 0;
  }
  .next {
    svg {
      transform: rotate(180deg);
    }
    padding-right: 0;
  }

  // Desktop styles
  @include media-md {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
