// Page headers

// Page header with image
.page-header {
  position: relative;
  .page-header-info {
    position: relative;
  }

  h1 {
    margin-top: 0;
    @include theme-color(color);
    text-align: center;
  }

  // Header logos
  .sprite-logo {
    @include theme-color(fill);
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 67px;

    // Desktop styles
    @include media-md {
      width: 742px;
      height: 200px;
    }
  }

  // Small screen only styles
  @include max-screen($breakpoint-md) {
    .image-wrap {
      margin: grid(4) 0;
    }
  }

  .tape-tagline {
    top: 65%;
    right: 65%;
    &.-right {
      span {
        float: left;
      }
      top: 45%;
      right: auto;
      left: 70%;
    }
  }

  // Desktop styles
  @include media-md {
    .tape-tagline {
      &.-right {
      }
    }

    .image-wrap {
      // margin: grid(16) 0;
      margin: grid(16) 0 0 0;
    }
  }
}

// Text-only page headers
.text-header {
  // Desktop styles
  @include media-md {
  }
}