// Page headers

.image-wrap {
}

// Page header with image
.page-header {
  position: relative;
  .page-header-info {
    position: relative;
  }

  // Header logos
  .sprite-logo {
    @include theme-color(fill);
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 67px;
    @include media-md {
      width: 742px;
      height: 200px;
    }
  }

  // Small screen only styles
  @include max-screen($breakpoint-md) {
    .image-wrap {
    }
  }

  // Desktop styles
  @include media-md {
    .page-header-info {
    }

    .image-wrap {
    }
  }
}

// Text-only page headers
.text-header {
  // Desktop styles
  @include media-md {
  }
}