// Shared components

// Wrappers around buttons
.actions {
  padding: grid(2) 0;
}

// Image reveals
.-reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 1.5s $cubic-ease2, opacity 0.5s $cubic-ease2;

  @include media-md {
    transform: translateY(100px);
  }

  &.-active {
    opacity: 1;
    transform: translateY(0);
  }
}

// Flash notices
.flash {
  padding: 10px;
  color: color(blue);
  background: color(white);
  text-align: center;
  padding: 20px 0;
  margin: grid(4) 0;
  svg {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    fill: color(blue);
    margin-right: 20px;
  }
}

// Slashy accent on images without taglines
.icon.sprite-slash {
  position: absolute;
  fill: color(orange);
  top: -20px;
  right: 40px;
  width: 15px;
  height: 39px;

  @include media-md {
    right: columns(1);
    top: -36px;
    width: 27px;
    height: 72px;
  }
}

// Sticky titles
.sticky-header {
  display: none;
  position: relative;
  .sticky-title {
    color: color(black);
    z-index: z(titles);
    @include h5;
    text-transform: uppercase;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    top: 35vh;
    left: calc(100% - 20px);
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    // 00/01/etc number prefixes
    i {
      display: inline-block;
      font-style: normal;
      margin-right: grid(8);
    }

  }
  &.main {
    .sticky-title {
      opacity: 1;
      position: fixed;
    }
  }
  @include media-nav {
    display: block;
  }
}

// Tape taglines
.tape-tagline {
  z-index: z(taglines);
  @include h5;
  @include theme-color(background, 'tape-tagline');
  @include theme-color(color, 'tape-tagline-text');
  white-space: nowrap;
  overflow: hidden;
  padding: 4px;
  position: absolute;
  width: 300px;
  transform: rotate(-15deg);
  > span {
    float: right;
  }
  .xl {
    display: none;
  }

  @include max-screen($breakpoint-md) {
    font-size: 10px;
  }

  @include media-md {
    width: auto;
    transform: rotate(-15deg);
  }
  @include media-xl {
    // width: auto;
  }
}
.-tagline-container {
  position: relative;
}

// Color image treatment
.color-massage {
  display: inline-block;
  position: relative;
  img {
    display: block;
  }
  .hands {
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &::before {
      background: #1A1A1A;
      mix-blend-mode: lighten;
    }
    &::after {
      background: rgba(235, 229, 208, 0.50);
      mix-blend-mode: multiply;
    }
  }
}
