// Shared components

// Wrappers around buttons
.actions {
  padding: grid(2) 0;
}

// Sticky titles
.sticky-header {
  position: relative;
  display: none;
  .sticky-title {
    color: color(black);
    z-index: z(titles);
    @include h5;
    text-transform: uppercase;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    top: 35vh;
    left: calc(100% - 20px);
    white-space: nowrap;

    // 00/01/etc number prefixes
    i {
      display: inline-block;
      font-style: normal;
      margin-right: grid(8);
    }

  }

  @include media-md {
    display: block;
  }
}
