// Shared components

// Wrappers around buttons
.actions {
  margin: grid(2) 0;
}

// Sticky titles
.sticky-header {
  position: relative;
  display: none;
  .sticky-title {
    color: color(black);
    z-index: z(titles);
    @include h5;
    text-transform: uppercase;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    top: 0;
    left: calc(100% - 20px);
    white-space: nowrap;
  }

  @include media-md {
    display: block;
  }
}
