// Typography

@font-face {
    font-family: 'Quarto';
    src: url('../fonts/Quarto-Black.woff2') format('woff2'),
        url('../fonts/Quarto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Untitled Sans';
    src: url('../fonts/UntitledSansWeb-LightItalic.woff2') format('woff2'),
        url('../fonts/UntitledSansWeb-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Untitled Sans';
    src: url('../fonts/UntitledSansWeb-BoldItalic.woff2') format('woff2'),
        url('../fonts/UntitledSansWeb-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Untitled Sans';
    src: url('../fonts/UntitledSansWeb-Light.woff2') format('woff2'),
        url('../fonts/UntitledSansWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Untitled Sans';
    src: url('../fonts/UntitledSansWeb-Bold.woff2') format('woff2'),
        url('../fonts/UntitledSansWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// Fonts
$font-serif: 'Quarto', serif;
$font-sans-serif: 'Untitled Sans', sans-serif;
$font-mono: monospace;

@mixin font-regular {
  font-weight: normal;
  font-family: $font-sans-serif;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
@mixin font-header {
  @include smooth;
  font-weight: bold;
  font-family: $font-sans-serif;
  letter-spacing: -0.1px;
}
@mixin font-mono {
  @include smooth;
  font-family: $font-mono;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 2.41px;
  text-transform: uppercase;
}

@mixin h1 {
  @include font-header;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -2.25px;
}
@mixin h1-serif {
  @include font-header;
  font-family: $font-serif;
  font-weight: bold;
  font-size: 63.5px;
  line-height: 60px;
  letter-spacing: 0;
}

@mixin h2 {
  @include font-header;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.4px;
}
@mixin h2-serif {
  @include font-header;
  font-family: $font-serif;
  font-weight: bold;
  font-size: 51px;
  line-height: 48px;
  letter-spacing: 0;
}

@mixin h3 {
  @include font-header;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.2px;
}
@mixin h3-serif {
  @include font-header;
  font-family: $font-serif;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.2px;
}

@mixin h4 {
  @include font-header;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
}

@mixin h5 {
  @include font-header;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1.75px;
}

@mixin p1 {
  @include font-regular;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
}
// @mixin p1-xl {
//   @include p1;
//   font-size: 32px;
//   line-height: 48px;
// }
%p1,
p.intro {
  @include p1;

  // @include media-xl {
  //   @include p1-xl;
  // }
}

@mixin p2 {
  @include font-regular;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: -0.25px;
  font-weight: light;
  @include smooth;
}

@mixin p3 {
 @include font-regular;
 font-size: 16px;
 line-height: 24px;
 letter-spacing: 0.47px;
}
%p3,
.p3,
p.p3,
p.small {
  @include p3;
}

// Global header styles
%h1,.h1,h1 {
  @include h2;
  @include media-md {
    @include h1;
  }
}
%h2,.h2,h2 {
  @include h3;
  em {
    @include h3-serif;
    font-style: normal;
  }
  @include media-md {
    @include h1;
    em {
      @include h1-serif;
      font-style: normal;
    }
  }
}
.h2.serif,
h2.serif {
  @include h2-serif;
}
%h3,.h3,h3 {
  @include h3;
}
%h4,.h4,h4 {
  @include h4;
}
%h5,.h5,h5 {
  @include h5;
}

// Reset all margins
dl,
dt,
dd,
p,
ol,
ul,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}


// Basic paragraph styles
address,
p,
%p2,
.p2,
figcaption {
  @include p3;

  // @include media-xl {
  //   @include p2;
  // }
}
