// Styling of content that is editable in wysiwyg

.user-content {
  @include clearfix();

  * + * {
    margin-top: grid(2);
    @include media-md {
      margin-top: grid(4);
    }
  }

  // User content gets properly sized h2's (rest of site is h1 sized)
  @include media-md {
    h2 {
      @include h2;
      em {
        @include h2-serif;
      }
    }
  }

  a:not(.button) {
    @include inline-link;
  }
  .button a,
  a.button {
    border: none;
    margin-right: grid(1);
  }

  ol,
  ul {
    @include p3;
    padding: 0 0 0 2.25em;
    li {
      margin: 0 0 grid(2);
      > ul {
        margin-top: grid(2);
      }
    }
  }

  blockquote {
    margin: grid(4) 0;
    padding: 0 $global-padding;
    border-left: 2px solid color(black);
  }

  // Smaller bullets than "disc" on lists
  ul li {
    list-style-type: none;
    position: relative;
    &:before {
      content: '•';
      color: color(black);
      display: block;
      position: absolute;
      left: -1.5em;
    }
  }

  hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid color(black);
  }

  // em {
  //   font-style: italic;
  // }

  strong {
    font-weight: bold;
  }
}
