// Variables

// Colors
$colors: (
	"black": #1a1a1a,
	"white": #ffffff,
	"tan": #EBE5D0,
	"pink": #f9b9b4,
	"orange": #f15623,
	"yellow": #f3d955,
	"blue": #0a21ba,
	"green": #36402b,
	"brown": #674c31,
	"gray": #bfbfbf,
	"red": #dd8064
);
@function color($color-name) {
  @return map-get($colors, #{''+$color-name+''});
}

// Z-index maps
$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  titles: 1000,
  nav: 3000,
  overlay: 4000,
  modal: 4001
);
@function z($key) {
  @return map-get($z-layers, $key);
}

// Nav and admin bar heights
$nav-height-mobile: 80px;
$nav-height: 176px;
$admin-bar-height-mobile: 46px;
$admin-bar-height: 32px;

// Custom cubic easings
$cubic-ease1: cubic-bezier(0.77, 0, 0.175, 1);
$cubic-ease2: cubic-bezier(0.165, 0.84, 0.44, 1);

// Base transition styles using @include transition(property)
$transition-duration: 0.2s;
$transition-easing: ease-in-out; // $cubic-ease1;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-nav: 1128px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1400px;

// Container width (max-width main content containers)
$container-width: 1128px;
