// Variables

// Colors
$colors: (
	"black": #1a1a1a,
	"white": #ffffff,
	"tan": #EBE5D0,
	"pink": #f9b9b4,
	"orange": #f15623,
	"yellow": #f3d955,
	"blue": #0a21ba,
	"green": #36402b,
	"brown": #674c31,
	"gray": #bfbfbf,
	"red": #dd8064
);
@function color($color-name) {
  @return map-get($colors, #{''+$color-name+''});
}

// Breakpoints
$breakpoint-sm: 400px;
$breakpoint-md: 768px;
$breakpoint-nav: 1158px;
$breakpoint-lg: 1000px;
$breakpoint-xl: 1400px;

// Container width (max-width main content containers)
$container-width: 1128px;

// Z-index maps
$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  taglines: 900,
  titles: 1000,
  nav: 100001,
  overlay: 100010,
  modal: 100011
);
@function z($key) {
  @return map-get($z-layers, $key);
}

// Custom cubic easings
$cubic-ease1: cubic-bezier(0.77, 0, 0.175, 1);
$cubic-ease2: cubic-bezier(0.165, 0.84, 0.44, 1);

// Base transition styles using @include transition(property)
$transition-duration: 0.2s;
$transition-easing: $cubic-ease1;
