{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% set colorTheme = entry.pageHeader.colorTheme %}
{% set title = entry.title %}
{% set sectionTitle = entry.pageHeader.sectionTitle %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% block content %}

  {% include 'partials/_page-header' %}

  {% include 'partials/_page-blocks' %}

  {% if entry.onwardTeam|length %}
    <div class="sticky-header">
      <div class="sticky-title">
        <span>Team Members</span>
      </div>
    </div>
    <div class="container">
      <div class="person-group-wrap">
        <div class="person-group our-team grid">
          {% for row in shuffle(entry.onwardTeam.all())|batch(3, null) %}
            {% set verticalShown = false %}
            {% set wideShown = false %}

            {% for person in row %}
              {% if person %}
                {# Randomize square/portrait #}
                {% if (random(100) > 50 or loop.last) and not wideShown %}
                  {% set imageClass = [] %}
                  {% set wideShown = true %}
                {% else %}
                  {% set imageClass = ['square'] %}
                {% endif %}

                {# Randomize vertical padding #}
                {% if (random(100) > 50 or loop.last) and not verticalShown %}
                  {% set imageClass = imageClass|merge(['padded']) %}
                  {% set verticalShown = true %}
                {% endif %}

                {% include 'partials/_person' with { person: person, imageClass: imageClass } %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if entry.ourBoard|length %}
    <div class="sticky-header">
      <div class="sticky-title">
        <span>Board</span>
      </div>
    </div>
    <div class="container our-board">
      <h2 class="serif">Our Board</h2>
      <div class="person-group-wrap">
        <div class="person-group grid">
          {% for person in entry.ourBoard.all() %}
            {% include 'partials/_person' with { person: person, imageClass: ['gray'] } %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="modal-overlay"></div>
  <div class="modal">
    <div class="container"></div>
  </div>

  {% include 'partials/_footer-outro' %}

{% endblock %}
