// Donate

body.page-donate {

  .carousel-wrap {
    background: color(green);
    .carousel-header {
      color: color(tan);
    }
    .tape-tagline {
      top: 50px;
      right: -20px;
      transform: rotate(30deg);
      background: color(green);
      color: color(tan);
    }
    // Gradient
    .cells {
      &::after {
        background-image: linear-gradient(90deg, rgba(color(green), 0) 0%, rgba(color(green), 1) 100%);
      }
    }
  }

  .block-cta {
    padding-top: 0;
  }

  // Desktop styles
  @include media-md {
    .block-cta {
      padding-top: 0;
    }
  }
}