// Home page

body.page-home {

  .block-section {
    // For overlapping Onward logos between sections
    position: static;
  }

  // Dark nav with lighter elements
  .nav-main,
  .page-header {
    background: color(green);
  }
  &.nav-stuck {
    .nav-main {
      background: color(tan);
    }
  }

  &:not(.nav-stuck) {
    #hamburger-salad {
      .label {
        color: color(tan);
      }
      svg {
        fill: color(tan);
      }
      &:hover .label,
      .label:hover {
        color: color(green);
      }
    }
    .sticky-logo {
      svg {
        fill: color(tan);
      }
    }
    .close-wrap {
      svg {
        fill: color(tan);
      }
      .label {
        color: color(tan);
      }
      &:hover .label,
      .label:hover {
        color: color(green);
      }
    }
    a.donate {
      color: color(yellow);
      border-color: color(yellow);
      &:hover {
        color: color(green);
        border-color: color(white);
      }
    }
  }

  .page-wrapper {

    // Onward repeating logos
    .logos {
      width: 250px;
      margin: 0 auto;
      position: relative;

      svg.sprite-logo.clone {
        width: 250px;
        height: 67px;
        stroke-width: 2px;
        position: absolute;
        top: 100%;
        display: block;
      }

      @include media-md {
        width: 742px;
        svg.sprite-logo.clone {
          width: 742px;
          height: 200px;
          stroke-width: 1px;
        }
      }
    }

    .page-header {
      svg.sprite-logo {
        fill: color(tan);
        opacity: 0;
      }
      svg.sprite-logo.clone {
        fill: none;
        stroke: color(yellow);
      }

      .logos {
        svg.sprite-logo.clone {
          &.clone-3 {
            top: 200%;
          }
          &.clone-2 {
            top: 300%;
          }
          &.clone-1 {
            top: 400%;
          }
        }
      }
    }

  }

  // Question
  .block-question {
    position: relative;
    text-align: center;

    // Desktop styles
    @include media-md {
      padding: grid(20) 0;
    }
  }

  // Answer
  .block-answer {
    position: relative;
    padding: 0 0 grid(4);

    .text-wrap {
      position: relative;
      .body {
        p {
          @include p3;
        }
        margin: grid(6) 0 0;
      }
    }

    figure {
      position: relative;
      .tape-tagline {
        right: columns(2);
      }
    }

    // Previous block is section change, match color at top of this block (staggered color blocks)
    &.-has-previous {
      &::before {
        content: '';
        display: block;
        position: absolute;
        height: grid(32);
        width: 100%;
        left: 0;
        top: 0;
        background: color(tan);
      }

      &.-previous-accent1::before {
        @include theme-color(background, 'accent1');
      }
      &.-previous-accent2::before {
        @include theme-color(background, 'accent2');
      }
    }
    // Next block is section change, match color at bottom of this block (staggered color blocks)
    &.-has-next {
      &::before {
        content: '';
        display: none;
        position: absolute;
        height: grid(32);
        width: 100%;
        left: 0;
        bottom: 0;
        background: color(tan);
      }

      &.-next-accent1::before {
        @include theme-color(background, 'accent1');
      }
      &.-next-accent2::before {
        @include theme-color(background, 'accent2');
      }
    }

    // Mobile only styles
    @include max-screen($breakpoint-md) {
      .container {
        display: flex;
        flex-direction: column;
      }
      .image-wrap {
        margin: grid(4) 0;
        order: 1;
      }
      .text-wrap {
        order: 2;
      }
      h2 {
        margin-top: grid(0);
      }
    }

    // Desktop styles
    @include media-md {
      @include clearfix;

      .container {
        display: flex;
        justify-content: space-between;
      }
      .image-wrap {
        position: relative;
      }
      .text-wrap {
        position: relative;
        .body {
          p {
            @include p2;
          }
        }
      }

      &.-has-next::before {
        display: block;
      }

      &.-right {
        .icon.sprite-slash {
          right: columns(1, 6);
        }
        .text-wrap {
          flex: 0 1 columns(6);
          padding-right: columns(1);
          padding-top: 224px;
        }
        .image-wrap {
          flex: 0 1 columns(6);
          padding-left: $global-padding;
          position: relative;
        }
      }

      &.-left {
        .icon.sprite-slash {
          left: columns(1, 6);
        }
        .text-wrap {
          flex: 0 1 columns(5);
          padding-left: $global-padding;
          order: 2;
        }
        .image-wrap {
          align-self: flex-start;
          flex: 0 1 columns(7);
          padding-right: columns(1);
          order: 1;
          padding-top: 224px;
        }
      }
    }
  }

  // Header tweaks for homepage
  .page-header {
    padding-bottom: grid(8);
    .page-header-info {
      opacity: 0;
      margin-top: grid(16);
    }

    .text-wrap {
      h2,
      h5 {
        margin: 0;
      }
      .body {
        margin-top: grid(3);
      }
      background: color(green);
      color: color(tan);
    }

    .tape-tagline {
      left: grid(-15);
      top: grid(1);
    }

    // Desktop styles
    @include media-md {
      padding-bottom: grid(5);
      @include clearfix;
      .body {
        p {
          @include p2;
        }
      }
      .tape-tagline {
        .xl {
          display: none;
        }
        right: auto;
        left: grid(-10);
        top: -60px;
      }
      .image-wrap {
        margin: 0;
        width: columns(6);
        float: left;
        padding-right: $global-padding;
      }
      .text-wrap {
        background: color(green);
        color: color(tan);
        padding: $global-padding;
        width: columns(5);
        float: left;
        margin-left: columns(1);
        .body {
          @include p2;
          margin: grid(6) 0 0;
        }
      }
      .page-header-info {
        margin-top: grid(16);
        margin-bottom: 25%;
        padding-bottom: 25%;
      }
    }

    // Add staggered color when screen is wide enough
    @include media-nav {
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: color(tan);
        height: grid(32);
        width: 100%;
      }
    }
  }

  // Homepage specific footer-outro tweaks
  .footer-outro {
    background: color(tan);
    padding-top: 0;

    .logos.footer-clones {
      svg.sprite-logo {
        fill: none;
        stroke: color(black);
      }
    }

    // Mobile only styles
    @include max-screen($breakpoint-md) {
      .logos.footer-clones {
        svg.sprite-logo.clone {
          position: relative;
          top: auto;
          margin-bottom: grid(1);
        }
        padding-bottom: grid(10);
      }
    }


    @include media-md {
      padding-top: 0;

      .logos.footer-clones {
        height: 200px;

        svg.sprite-logo.clone {
          &.clone-3 {
            top: 200%;
          }
          &.clone-2 {
            top: 100%;
          }
          &.clone-1 {
            top: 0;
          }
        }
      }
    }

  }

}
