// Home page

body.page-home {
  // Dark nav with lighter elements
  .nav-main,
  .page-header {
    background: color(green);
  }
  #hamburger-salad {
    color: color(tan);
    svg {
      fill: color(tan);
    }
  }
  a.donate {
    color: color(yellow);
    border-color: color(yellow);
  }

  // Onward repeating logos
  .logos {
    width: 250px;
    margin: 0 auto;
    position: relative;

    @include media-md {
      width: 742px;
    }
  }
  .sprite-logo {
    fill: color(tan);
    opacity: 0;
  }
  .sprite-logo.clone {
    fill: none;
    stroke: color(yellow);
    stroke-width: 2px;
    position: absolute;
    top: 100%;
    &.clone-3 {
      top: 200%;
    }
    &.clone-2 {
      top: 300%;
    }
    &.clone-1 {
      top: 400%;
    }
    @include media-md {
      stroke-width: 1px;
    }
  }

  // Header tweaks for homepage
  .page-header {
    .text-wrap {
      background: color(green);
      color: color(tan);
      padding: $global-padding;
      .body {
        @include p2;
        margin: grid(6) 0 0;
      }
    }
  }

  // Give homepage blocks initial bg color for mix-blend-mode
  .homepage-blocks {
    background: color(tan);
  }

  // Question
  .block-question {
    position: relative;
    text-align: center;

    @include media-md {
      padding: grid(20) 0;
    }
  }

  // Answer
  .block-answer {
    position: relative;
    .text-wrap {
      .body {
        @include p2;
        margin: grid(6) 0 0;
      }
    }

    // Desktop styles
    @include media-md {
      @include clearfix;
      display: flex;
      justify-content: space-between;
      .text-wrap {
        padding-top: 224px;
        flex-basis: columns(5);
      }
      .image-wrap {
        flex-basis: columns(6);
        padding-left: $global-padding;
        position: relative;
      }
    }
  }

  // Desktop styles
  @include media-md {
    // Desktop header
    .page-header {
      @include clearfix;
      .image-wrap {
        margin: 0;
        width: columns(6);
        float: left;
        padding-right: $global-padding;
      }
      .text-wrap {
        width: columns(5);
        float: left;
        margin-left: columns(1);
        p {
          @include p2;
        }
      }
      .page-header-info {
        margin-top: grid(16);
        margin-bottom: 25%;
        padding-bottom: 25%;
      }
    }
  }

}
