// Partner with us

body.page-partner-with-us {
  .page-header {
    .tape-tagline {
      color: color(pink);
    }
  }
  .partner-form-wrap {
    background: color(yellow);
    .actions {
      text-align: center;
      .button {
        background: color(pink);
      }
    }
  }
  p.terms {
    font-size: 10px;
    opacity: 0.5;
    a {
      text-decoration: underline;
    }
  }

  // Desktop styles
  @include media-md {
    .partner-form-wrap {
      padding: grid(8) 0 grid(24) 0;
      .grid-wrap {
        margin: 0 grid(-2);
      }
      .grid-item {
        padding: 0 grid(2);
      }
      .form-intro {
        padding: 0 0 grid(10);
      }
    }

    .form-intro {
      p {
        @include p2;
      }
    }
  }
}