// Footer

// Footer outro
.footer-outro {
  position: relative;
  @include theme-color(background, 'accent2');

  // No image slashes in footer-outro
  .sprite-slash {
    display: none;
  }

  p {
    @include p2;
  }
  .text-wrap {
    @include theme-color(color, 'accent2-text');
    padding: grid(6) 0 0;
  }

  // Footer-specific CTA styles
  .block-cta {
    @include media-md {
      padding-bottom: 0;
    }
  }

  // Mobile only styles
  @include max-screen($breakpoint-md) {
    .grid {
      display: flex;
      flex-direction: column;
    }
    .grid-item {
      flex: 0 1 100%;
    }
    .image-wrap {
      order: 1;
    }
    .text-wrap {
      order: 2;
    }
    .block-cta {
      padding: grid(6) 0;
    }
  }

  .tape-tagline {
    left: grid(-8);
    top: 0;
    transform: rotate(15deg);
    @include theme-color(background, 'tape-tagline-accent2');
    @include theme-color(color, 'tape-tagline-accent2-text');
  }

  // Desktop styles
  @include media-md {
    padding: grid(16) 0 grid(24);
    .tape-tagline {
      transform-origin: top left;
      left: grid(-8);
      top: 96px;
    }
    .text-wrap {
      align-self: flex-end;
      padding: 0 $global-padding grid(4) 0;
    }
    .image-wrap {
      figure {
      }
    }
  }
}

// Main footer styles
footer.site-footer {
  @include theme-color(background, 'footer');
  text-align: center;

  .footer-tagline {
    text-align: center;
    padding: grid(8) 0 grid(2);
  }

  .copyright {
    text-align: center;
    padding: grid(6) 0 grid(12);
  }

  .contact-info {
    svg.sprite-logo-staggered {
      width: 120px;
      height: 78px;
      margin: grid(6) 0 0;
    }
  }

  .footer-blocks {
    a:not(.logo) {
      @include slide-link;
    }
    ul {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      li {
        margin-bottom: grid(2);
      }
    }
  }

  // Mobile-only footer styles
  @include max-screen($breakpoint-md) {
    .footer-blocks {
      display: flex;
      flex-direction: column;
      .footer-block {
        margin: grid(6) 0 0;
        flex: 0 1 100%;
      }
      // Reorder footer blocks
      .main-nav {
        order: 1;
        // display: none;
      }
      .secondary-nav {
        order: 2;
      }
      .social-nav {
        order: 3;
      }
      .contact-info {
        order: 4;
      }
    }
  }

  // Desktop styles
  @include media-md {
    text-align: left;
    .contact-info {
      svg.sprite-logo-staggered {
        margin-top: grid(10);
        width: 168px;
        height: 109px;
      }
    }
    .footer-tagline {
      padding: grid(14) 0;
      h2 {
        // @include h1;
      }
    }
    .footer-blocks {
      @include clearfix;
    }
    .footer-block {
      float: left;
      width: columns(3);
      padding-top: grid(15);
      &:nth-child(1) {
        padding-top: 0;
        width: columns(4);
      }
      &:nth-child(4) {
        width: columns(2);
      }
    }
  }
}
