// Footer

.footer-outro {
  position: relative;
  // @include theme-color('background', color(brown), 'accent');
  // @include theme-color('color', color(black));

  h2 {
    @include h1;
    em {
      @include h1-serif;
      font-style: normal;
    }
  }
  .text-wrap {
    .body {
      @include p2;
      margin: grid(6) 0 0;
    }
  }
  // Footer-specific CTA styles
  .block-cta {
    @include media-md {
      padding-bottom: 0;
    }
  }

  // Desktop styles
  @include media-md {
    padding: grid(16) 0;

    .text-wrap {
      align-self: flex-end;
      padding-bottom: grid(4);
    }
    .image-wrap {
      figure {
      }
    }
  }
}

body[data-theme="theme-green"] {
  .footer-outro {
    background: color(brown);
    color: color(tan);
  }
}

footer.site-footer {
  @include theme-color('background', color(yellow), 'accent2');

  .footer-tagline {
    text-align: center;
    padding: grid(6) 0 grid(10);
  }

  .copyright {
    text-align: center;
    padding: grid(6) 0 grid(12);
  }

  .footer-blocks {
    ul {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      li {
        margin-bottom: grid(2);
      }
    }
  }

  // Desktop styles
  @include media-md {
    .contact-info {
      svg {
        margin-top: grid(10);
        width: 168px;
        height: 109px;
      }
    }
    .footer-tagline {
      padding: grid(14) 0;
      h2 {
        @include h1;
      }
    }
    .footer-blocks {
      @include clearfix;
    }
    .footer-block {
      float: left;
      width: columns(3);
      padding-top: grid(15);
      &:nth-child(1) {
        padding-top: 0;
        width: columns(4);
      }
      &:nth-child(4) {
        width: columns(2);
      }
    }
  }
}
