// Nav

.nav-main {
  .container {
    position: relative;
  }

  @include h4;

  .site-nav {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    .nav-home a {
      background: $green;
      color: $tan;
    }
    .nav-our-work a {
      background: $orange;
    }
    .nav-our-story a {
      background: $pink;
    }
    .nav-our-team a {
      background: $pink;
    }
    .nav-partner-with-us a {
      background: $yellow;
    }
    .nav-donate a {
      background: $tan;
      color: $orange;
    }

    a {
      text-align: center;
    }

    > ul {
      display: table;
      width: 100%;
      height: 100%;
      > li {
        display: table-row;
        a {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    // Child menus, hidden at start
    ul.children {
      display: none;
    }
    // Slide out child menu
    li.open+ul.children {
      display: table-row;
      li {
        display: table-cell;
        vertical-align: middle;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

  }

  @include media-md {
    .site-nav {
      width: 50vw;
    }

    .container {
      margin: grid(6) auto;
    }
    .donate {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

#nav-toggle {
  display: inline-block;
  .label {
    display: none;
  }
  .hamburger {
    width: 36px;
    height: 38px;
    vertical-align: middle;
    .hambone {
      @include transition(transform);
      transform-origin: bottom left;
    }
  }
  // Skew = icon on hover or when nav is active
  &:hover {
    .hambone:nth-child(1) {
      transform: skewY(-7deg);
    }
  }

  // Desktop styles
  @include media-md {
    // "Menu" label
    .label {
      margin-left: grid(2);
      display: inline-block;
    }
  }
}

