// Nav

// Hamburgers for everyone large and small
#hamburger-salad {
  display: inline-block;
  .label {
    display: none;
  }
  // 🍔¯\_(ツ)_/¯🍔
  .hamburger {
    width: 36px;
    height: 38px;
    vertical-align: middle;
    .hambone {
      @include transition(transform);
      transform-origin: bottom left;
    }
  }
  // Skew = icon on hover or when nav is active
  &:hover {
    .label {
      background: color(white);
      border-bottom: 2px solid color(black);
    }
    .hambone:nth-child(1) {
      transform: skewY(-7deg);
    }
  }

  // Desktop styles
  @include media-md {
    margin: grid(2) 0 0 grid(6);
    // "Menu" label
    .label {
      margin-left: grid(2);
      padding: 0 2px;
      display: inline-block;
    }
  }
}

// Primary nav container
.nav-main {
  @include clearfix;

  // "Menu" and "Close" text styles
  @include h4;

  padding: grid(6) 0;
  margin: 0;

  .container {
    position: relative;
  }

  // Mini logo for sticky nav only
  .sticky-logo {
    opacity: 0;
    @include transition(opacity);
    // No fade on hide
    transition-duration: 0s;
    width: 97px;
    height: 26px;
    svg {
      width: 97px;
      height: 26px;
      fill: color(green);
    }
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);

    @include media-md {
      top: 0;
      width: 150px;
      height: 40px;
      svg {
        width: 150px;
        height: 40px;
      }
    }
  }

  // Primary nav
  .site-nav {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(-100%);
    @include transition(transform);

    // Center all the links
    a {
      text-align: center;
    }

    // Wrap the nav in full viewport
    .wrap {
      height: calc(100% - 46px);
      height: calc(var(--vh, 1vh) * 100 - 46px);
      @include media-md {
        .wrap {
          height: calc(100% - 50px);
          height: calc(var(--vh, 1vh) * 100 - 50px);
        }
      }
    }

    // Color coded
    .nav-home a {
      background: color(green);
      color: color(tan);
    }
    .nav-our-work a {
      background: color(orange);
    }
    .nav-our-story a {
      background: color(pink);
    }
    .nav-our-team a {
      background: color(pink);
    }
    .nav-partner-with-us a {
      background: color(yellow);
    }
    .nav-donate a {
      background: color(tan);
      color: color(orange);
    }

    ul {
      @include h3;
      display: flex;
      flex-flow: column;
      height: 100%;
      margin: 0;
      > li {
        position: relative;
        flex: 1;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          @include transition(background);
          &:hover {
            background: color(white);
            color: color(black);
            text-decoration: underline;
          }
        }
        // Can has child nav
        &.dropdown {
          svg {
            height: 15px;
          }
          .toggle-dropdown {
            padding: 15px;
            cursor: pointer;
            position: absolute;
            right: columns(1);
            @include transition(transform);
          }
          &.open {
            .toggle-dropdown {
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    // Child menus hidden at start
    ul.children {
      z-index: 1;
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      li {
        display: block;
        height: 100px;
        // with hovers this tweak for better optical spacing doesn't work:
        // &:nth-child(1) {
        //   margin-top: -20px;
        // }
      }
    }

    // Slide out child menu upon request
    li.open > ul.children {
      display: block;
    }
  }

  // Close button
  .close-wrap {
    margin: 10px 0 10px grid(6);
    a {
      display: block;
      width: 100px;
      text-align: left;
      svg {
        vertical-align: top;
        margin-right: grid(3);
      }
    }
    .label {
      display: none;
    }

    // Desktop styles
    @include media-md {
      margin: 15px 0 15px 36px;
      height: 24px;
    }
    @include media-nav {
      margin: 15px 0;
      position: relative;
      .label {
        display: inline-block;
      }
      a {
        position: absolute;
        right: calc(540px - #{columns(2)});
        z-index: 1000;
      }
    }
  }

  // Hide donate on mobile
  .donate {
    display: none;
  }

  // Desktop styles
  @include media-md {
    .site-nav {
      width: 50vw;
    }

    .container {
      margin: 0 auto;
    }
    .donate {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      @include transition(all);
      &:hover {
        transform: none;
        background: color(white);
        border-color: color(white);
      }
    }
  }
}

// Nav is stuck
body.nav-stuck {
  padding-top: 110px;
  .nav-main {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 4px 0;
    z-index: z(nav);
    background: color(tan);
    .sticky-logo {
      opacity: 1;
      transition-duration: 0.2s;
    }
    .donate {
      display: none;
    }
  }

  @include media-md {
    padding-top: 122px;
    #hamburger-salad {
      margin-top: 2px;
    }
    .nav-main {
      padding: 7px 0;
    }
  }
}

// Nav is open for hambusiness
body.nav-open {
  #hamburger-salad {
    opacity: 0;
  }
  .nav-main {
    .site-nav {
      transform: translateX(0);
    }
  }
}
