// Nav

// Hamburgers for everyone large and small
#hamburger-salad {
  display: inline-block;
  margin: grid(2) 0 0 grid(6);
  .label {
    display: none;
  }
  // 🍔¯\_(ツ)_/¯🍔
  .hamburger {
    width: 36px;
    height: 38px;
    vertical-align: middle;
    .hambone {
      @include transition(transform);
      transform-origin: bottom left;
    }
  }
  // Skew = icon on hover or when nav is active
  &:hover {
    .hambone:nth-child(1) {
      transform: skewY(-7deg);
    }
  }

  // Desktop styles
  @include media-md {
    // "Menu" label
    .label {
      margin-left: grid(2);
      display: inline-block;
    }
  }
}

// Primary nav container
.nav-main {
  @include clearfix;
  .container {
    position: relative;
  }

  padding: grid(6) 0;

  // "Menu" and "Close" text styles
  @include h4;

  // Primary nav
  .site-nav {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: $tan;
    z-index: 1000;
    transform: translateX(-100%);
    @include transition(transform);

    // Center all the links
    a {
      text-align: center;
    }

    // Wrap it
    .wrap {
      height: calc(100% - 50px);
    }

    // Color coded
    .nav-home a {
      background: $green;
      color: $tan;
    }
    .nav-our-work a {
      background: $orange;
    }
    .nav-our-story a {
      background: $pink;
    }
    .nav-our-team a {
      background: $pink;
    }
    .nav-partner-with-us a {
      background: $yellow;
    }
    .nav-donate a {
      background: $tan;
      color: $orange;
    }

    ul {
      @include h3;
      display: flex;
      flex-flow: column;
      height: 100%;
      > li {
        position: relative;
        flex: 1;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }
        // Can has child nav
        &.dropdown {
          svg {
            height: 15px;
          }
          .toggle-dropdown {
            padding: 15px;
            cursor: pointer;
            position: absolute;
            right: columns(1);
            @include transition(transform);
          }
          &.open {
            .toggle-dropdown {
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    // Child menus hidden at start
    ul.children {
      z-index: 1;
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      li {
        display: block;
        height: 100px;
        &:nth-child(1) {
          margin-top: -20px;
        }
      }
    }

    // Slide out child menu upon request
    li.open > ul.children {
      display: block;
    }
  }

  // Close button
  a.close {
    display: block;
    width: 130px;
    text-align: left;
    svg {
      vertical-align: top;
      margin-right: grid(3);
    }
    margin: grid(2) 0 grid(2) grid(6);
  }

  // Hide donate on mobile
  .donate {
    display: none;
  }

  // Desktop styles
  @include media-md {
    .site-nav {
      width: 50vw;
    }

    .container {
      margin: 0 auto;
    }
    .donate {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

// Nav is open for hambusiness
body.nav-open {
  .nav-main {
    .site-nav {
      transform: translateX(0);
    }
  }
}
