<!DOCTYPE html>
  <!--[if IE 9 ]> <html lang="en" class="no-js ie9 lt-ie10"> <![endif]-->
  <!--[if gt IE 9]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

  {% include '/partials/_head' %}

  <body class="{% if currentUser %}logged-in {% endif %}{% if bodyClass is defined %}{{ bodyClass }} {% endif %}page-{{ segment(1) ? segment(1) : 'home' }}"{% if bodyId is defined %} id="{{ bodyId }}"{% endif %}>
    <div id="top"></div>
    {{ adminbar({ sticky: false, entry: entry ?? null }) }}
    <div class="body-wrapper">
      <header class="site-header" role="banner">
        <a href="/"><svg class="icon icon-logo" aria-hidden="true" role="presentation" viewBox="0 0 240 60"><use xlink:href="#icon-logo"/></svg></a>
        <div class="mobile-nav-toggle"><svg class="icon-hamburger"><use xlink:href="#icon-hamburger" /></svg></div>
        <div class="mobile-nav-close"><svg class="icon-close"><use xlink:href="#icon-close" /></svg></div>
      </header>

      <div class="page-wrapper">
        <main class="site-main" role="main">
          {% include '/partials/_flash' %}
          {% block content %}{% endblock %}
        </main>
      </div>

      {% include '/partials/_footer' %}

    </div>
  </body>
</html>
