{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% set colorTheme = entry.pageHeader.colorTheme %}
{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% block content %}

  {% include 'partials/_page-header' %}

  {% include 'partials/_page-blocks' with { customSectionChange: 'accent2' } %}

  {% include 'partials/_postcards' %}

  {% include 'partials/_footer-outro' %}

{% endblock %}
