{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% set colorTheme = 'homepage' %}
{% set title = entry.title %}
{% set sectionTitle = entry.homepageHeader.sectionTitle %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.shareImage|length %}
  {% set shareImage = entry.shareImage.one() %}
{% elseif entry.homepageHeader.image|length %}
  {% set shareImage = entry.homepageHeader.image.one() %}
{% endif %}

{% block content %}

  {% include 'partials/_homepage-header' %}

  {% include 'partials/_homepage-blocks' %}

  {% include 'partials/_footer-outro' %}

{% endblock %}
