{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% set colorTheme = 'home' %}
{% set title = entry.title %}
{% set sectionTitle = entry.homepageHeader.sectionTitle %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% block content %}

  {% include 'partials/_homepage-header' %}

  {% include 'partials/_homepage-blocks' %}

  {% include 'partials/_footer-outro' %}

{% endblock %}
