{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% set colorTheme = entry.pageHeader.colorTheme %}
{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% macro errorList(errors) %}
  {% if errors %}
    <ul class="errors">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% from _self import errorList %}

{% block content %}

  {% include 'partials/_page-header' %}

  {% include 'partials/_page-blocks' %}

  <div class="partner-form-wrap">
    <div class="container">

      {% if entry.formIntro %}
        <div class="form-intro grid">
          <div class="grid-item one-half user-content">
            {{ entry.formIntro }}
          </div>
        </div>
      {% endif %}

      <div class="partner-form">
        <form method="post">
          <div class="grid-wrap"><div class="grid">
            <div class="grid-item one-third">
              <label for="from-name">Your Name</label>
              <input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}" placeholder="Enter your name...">
              {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
            </div>
            <div class="grid-item one-third">
              <label for="from-email">Your Email</label>
              <input required id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" placeholder="Now your email...">
              {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
            </div>
            <div class="grid-item one-third">
              <label for="message[Phone]">Phone Number</label>
              <input type="text" id="message[Phone]" name="message[Phone]" value="{{ message.message.phone ?? '' }}" placeholder="000-000-0000">
            </div>
          </div></div>

          <div class="grid-wrap"><div class="grid">
            <div class="grid-item one-half">
              <label class="-large" for="message[Capacity]">Do you have the capacity and drive to dedicate a movement toward equity?</label>
              <textarea rows="10" cols="40" id="message[Capacity]" name="message[Capacity]">{{ message.message.capacity ?? '' }}</textarea>
            </div>
            <div class="grid-item one-half">
              <label class="-large" for="message[Current system]">What is your current system to provide a more equitable organization?</label>
              <textarea rows="10" cols="40" id="message[Current system]" name="message[Current system]">{{ message.message.system ?? '' }}</textarea>
            </div>
          </div></div>

          <label for="message[Additional info]">Additional Information</label>
          <textarea rows="10" cols="40" id="message[Additional info]" name="message[Additional info]" placeholder="Is there anything else the Onward team should know?">{{ message.message.info ?? '' }}</textarea>

          <div class="status"></div>

          <div class="actions">
            {{ csrfInput() }}
            {{ craft.contactFormExtensions.recaptcha | raw }}
            <input type="hidden" name="action" value="contact-form/send">
            <input type="hidden" name="subject" value="Onward Partnership Submission">
            <button type="submit" class="button -jumbo">Submit Message</button>
            <p class="terms">This site is protected by reCAPTCHA and the Google <a target="_blank" rel="noopener noreferrer" href="https://policies.google.com/privacy">Privacy Policy</a> and <a target="_blank" rel="noopener noreferrer" href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
          </div>
        </form>
      </div><!-- /.partner-form -->
    </div>
  </div>

  {% if entry.footerQuote.quote %}
    {% include 'partials/blocks/_quote' with {
      quote: entry.footerQuote.quote,
      image: [],
      attribution: entry.footerQuote.attribution
    } %}
  {% endif %}

  {% include 'partials/_footer-outro' %}

{% endblock %}
